{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Goi</title>
	<meta charset="utf-8">
	<style>
		body {font-family: Verdana, sans-serif; font-size:1em;}
		nav {border:1px solid gray; margin:5px; padding:8px;}
		nav ul {margin:0; padding:0;}
		nav ul li {display:inline; margin:5px;}
	</style>
</head>
<body>
	{{template "navigation"}}
	{{template "content"}}
</body>
</html>
{{end}}